/* Reset */

html

body{
    margin: 0;
}

img {
    max-width: 100%;
}

nav ul {
    margin: 0;
    padding: 20px;
    list-style: none;
}
h2 {
    color: white;
}
h1 {
    color:white;
}


/* Nav */


nav ul {
    display: flex;
    flex-direction: column;
}


nav li{
    padding: 50px;
    text-align: center;
    text-transform: unset;
    
   
}

nav li:hover {
    background-color: orange;
    border-width: 100%;
    

}

nav li a {
    color:white;
    text-decoration: none;
    
}

.no-btm-border {
border-bottom: none;
}


.current{
    font-style: italic;
    font-weight: 100;
}



@media (min-width: 600px){
   
   
    nav{
        background-image: url(monstera2.jpeg);
        background-size: cover;
        background-position: top;
        position: relative;
        width: auto;
        
    }
    
    nav ul {
    
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
    
        }
    nav li{
        text-align: center;
        padding: 80px
        
    }
    nav li a {
        color:rgb(53, 202, 75);
        text-decoration: none;
        
    }
    h1 {
        color:green;
        font-weight: 200;
        padding: 50px;

    }
    h2 {
        color: white;

    }
    h3 {
        color: white;

    }
    
}


@media (min-width: 1200px){
nav{
    background-image: url(monsteraplantforsalesowexotic_4_1800x1800.webp);
    background-size: cover;
    background-position: top;
    position: relative;
    width: auto;
    padding: 160px;
 }
    nav ul {
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        text-align: left;
        padding: 96px ;
        
        
}
    nav li{
        text-align: left
        
        }
    nav li a {
        font-size: 30px;
        color:white;
        text-decoration: none;
            
        }
    h1 {
        color: white;
        font-size: small;
    }
    h3 {
        color: white;
        font-size: small;
    }
    h2 {
        color: green;
        font-size: 120px;
    }
   
}


.no-btm-border {
    border-bottom: none
}

#homelink{
    padding: 12px;
    
    order: 1;
}

#bloglink{
    padding: 12px;
    
    order: 2;
}

#connectlink{
    padding: 12px;
    
    order: 3;
}

#portfoilolink{
    padding: 12px;
    
    order: 4;
}

#aboutlink{
    padding: 12px;
    
    order: 5;
}

/* Main */




/* Main */
h1,h2 {
    font-family: 'Cormorant', serif;
}

h1 {
    font-weight: 300;
    font-size: 64px;
    text-align: center;
    padding: none;
   
    
}

h2 {
    font-weight: 400;
    font-size: 72px;
    text-align: right;
    padding: 0px 40px
    
}
h3 {
    font-weight: 100;
    font-size: 48px;
    text-align: center;
    
    
}
