html {
    background-color: white;
}
* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.main{
    display: block;
    width: 80%;
    padding: 10px;
    background-color: white;
    margin: auto;

}

.main img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 5px;
    
}


.thumbs {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:initial;
    justify-content: space-around;
    padding: 50px;

}


.thumbs li {
    width: 12%;
    padding: 10px;
    background-color: white;
    margin: 1%;
    
}

.thumbs li img {
   width: 100%;
}